API_Corresponsales/API_MODULE_TEMPLATE/App_WebReferences/WCOMP/Compatible.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://sysvega.com/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://sysvega.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sysvega.com/">
      <s:element name="Q_getDataTableFromQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Q_Usuer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Q_Signature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Q_Filter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Q_getDataTableFromQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Q_getDataTableFromQResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Q_ExecFromQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Q_Usuer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Q_Signature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Q_Filter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Q_ExecFromQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Q_ExecFromQResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Q_AgregaIncidenacia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Q_User" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Q_Signature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Q_Tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaISO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hora" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Corr" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Ref" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Texto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Q_AgregaIncidenaciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Q_AgregaIncidenaciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Q_AgregaPagado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Q_User" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Q_Signature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaISO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hora" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Corr" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Ref" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="TextoDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Q_AgregaPagadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Q_AgregaPagadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Q_AgregaPagadoMisc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Q_User" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Q_Signature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaISO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hora" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Corr" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Ref" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="TextoDoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MiscData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Q_AgregaPagadoMiscResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Q_AgregaPagadoMiscResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadInvoiceAgn_V016">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoAgente" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ClaveAgente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ReferenciaGiro" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ClaveGiro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ImportePagarGiro" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="MonedaPagoGiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MensajeGiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApellidosCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentoCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DireccionCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CiudadCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProvinciaCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelefonoCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaisCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApellidosBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DireccionBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarrioBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CiudadBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono1Benef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono2Benef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaisBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BancoBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SucursalBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoCuentaBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroCuentaBenef" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PuntoPagoGiro" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadInvoiceAgn_V016Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadInvoiceAgn_V016Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadInvoiceAgn_V017">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoAgente" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ClaveAgente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ReferenciaGiro" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ClaveGiro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ImportePagarGiro" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="MonedaPagoGiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MensajeGiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApellidosCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentoCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DireccionCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CiudadCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProvinciaCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelefonoCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaisCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApellidosBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DireccionBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarrioBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CiudadBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono1Benef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono2Benef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaisBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BancoBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SucursalBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoCuentaBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroCuentaBenef" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PuntoPagoGiro" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadInvoiceAgn_V017Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadInvoiceAgn_V017Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadInvoiceAgn_V018">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoAgente" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ClaveAgente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ReferenciaGiro" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ClaveGiro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ImportePagarGiro" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="MonedaPagoGiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MensajeGiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApellidosCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentoCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DireccionCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CiudadCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProvinciaCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelefonoCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaisCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApellidosBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DireccionBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarrioBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CiudadBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono1Benef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono2Benef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaisBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BancoBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SucursalBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoCuentaBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroCuentaBenef" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PuntoPagoGiro" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadInvoiceAgn_V018Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadInvoiceAgn_V018Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadInvoiceAgn_V019">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoAgente" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ClaveAgente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReferenciaAuxiliar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClaveGiro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ImportePagarGiro" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="MonedaPagoGiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MensajeGiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApellidosCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentoCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DireccionCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CiudadCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProvinciaCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelefonoCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaisCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApellidosBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DireccionBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarrioBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CiudadBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono1Benef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono2Benef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaisBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BancoBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SucursalBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoCuentaBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroCuentaBenef" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PuntoPagoGiro" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadInvoiceAgn_V019Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadInvoiceAgn_V019Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadInvoiceAgn_VAuto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoAgente" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ClaveAgente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ReferenciaGiro" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ClaveGiro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ImportePagarGiro" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="MonedaPagoGiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MensajeGiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApellidosCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentoCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DireccionCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CiudadCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProvinciaCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelefonoCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaisCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApellidosBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DireccionBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarrioBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CiudadBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono1Benef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono2Benef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaisBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BancoBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SucursalBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoCuentaBenef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroCuentaBenef" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PuntoPagoGiro" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadInvoiceAgn_VAutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadInvoiceAgn_VAutoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadInvoiceAgn_V034">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DATA_LOAD" type="tns:NewMTFullRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NewMTFullRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DataAgent" type="tns:AgentInfoRequest" />
          <s:element minOccurs="0" maxOccurs="1" name="DataSender" type="tns:NewCustomerRequest" />
          <s:element minOccurs="0" maxOccurs="1" name="DataReceiver" type="tns:NewReceiverRequest" />
          <s:element minOccurs="0" maxOccurs="1" name="DataBank" type="tns:NewBankInfoRequest" />
          <s:element minOccurs="0" maxOccurs="1" name="DataInvoice" type="tns:NewInvoiceRequest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AgentInfoRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AgentCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AgentPassWord" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AgentPasswordEncripted" type="tns:EncrptedMode" />
          <s:element minOccurs="0" maxOccurs="1" name="FileVersion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EncrptedMode">
        <s:restriction base="s:string">
          <s:enumeration value="Plain" />
          <s:enumeration value="Base64Encode" />
          <s:enumeration value="md5Encode" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="NewCustomerRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderSex" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderDocumentType" type="tns:DocumentType" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderDocumentNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderDocumentExpiration" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderDocumnetIssued" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderDocumentIssuedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderStreet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderHouseNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderFloorAndDoor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderPostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderProvince" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderTelephone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderTelephone2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderBirthDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderBirthCountry" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderOccupationCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderOccupationName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderSalary" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderNationality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderCodiceFiscale" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DocumentType">
        <s:restriction base="s:string">
          <s:enumeration value="OTH" />
          <s:enumeration value="PAS" />
          <s:enumeration value="RES" />
          <s:enumeration value="DNI" />
          <s:enumeration value="EUI" />
          <s:enumeration value="CED" />
          <s:enumeration value="DRV" />
          <s:enumeration value="OTR" />
          <s:enumeration value="NONE" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="NewReceiverRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverAdressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverAdressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverTelephone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverTelephone2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderReceiverRelationship" type="tns:SenderReceiverRelatinship" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceiverTipoPersona" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverDenominacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverTipoDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverCP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverEMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverDOB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverTags" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SenderReceiverRelatinship">
        <s:restriction base="s:string">
          <s:enumeration value="Unspecified" />
          <s:enumeration value="Father_mother_brother_sons" />
          <s:enumeration value="Husband_wife" />
          <s:enumeration value="Other_family_member" />
          <s:enumeration value="Non_family" />
          <s:enumeration value="I_myself" />
          <s:enumeration value="Business" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="NewBankInfoRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BancoBenef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BankCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SucursalBenef" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoCuentaBenef" type="tns:AccountType" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroCuentaBenef" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AccountType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Savings" />
          <s:enumeration value="Current" />
          <s:enumeration value="Others" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="NewInvoiceRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReferenciaGiro" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenciaAuxiliar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClaveGiro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImportePagarGiro" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="MonedaPagoGiro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeGiro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PuntoPagoGiro" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ModoPagoGiro" type="tns:ModeOfPayment" />
          <s:element minOccurs="0" maxOccurs="1" name="AditinalFieldsList" type="tns:ArrayOfAditionalFieldsImport" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ModeOfPayment">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="BankDeposit" />
          <s:enumeration value="PickUp" />
          <s:enumeration value="HomeDelivery" />
          <s:enumeration value="ATM" />
          <s:enumeration value="ElectronicWallet" />
          <s:enumeration value="MobileMoney" />
          <s:enumeration value="Service" />
          <s:enumeration value="InstantCash" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfAditionalFieldsImport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AditionalFieldsImport" nillable="true" type="tns:AditionalFieldsImport" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AditionalFieldsImport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FieldID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadInvoiceAgn_V034Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadInvoiceAgn_V034Result" type="tns:LoadDataResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoadDataResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnObject" type="tns:TipoObjeto" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnResult" type="tns:ReturnResult" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipoObjeto">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Agente" />
          <s:enumeration value="Cliente" />
          <s:enumeration value="Beneficiario" />
          <s:enumeration value="Banco" />
          <s:enumeration value="Giro" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ReturnResult">
        <s:restriction base="s:string">
          <s:enumeration value="Ok" />
          <s:enumeration value="HasError" />
          <s:enumeration value="NoData" />
        </s:restriction>
      </s:simpleType>
      <s:element name="LoadInvoiceAgn_VAutoClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="REQ" type="tns:PreRecAddRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PreRecAddRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodUsuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoAgente" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClaveAgente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReferenciaGiro" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenciaAuxiliar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClaveGiro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImportePagarGiro" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="MonedaPagoGiro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModoPagoGiro" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeGiro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidosCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentoCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CaducidadCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaisEmisorDocumentoCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DireccionCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroCasaCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PisoPuertaCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Res1Cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DOBCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaisNacCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NacionalidadCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CiudadCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProvinciaCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelefonoCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaisCliente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OcupacionID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OcupacionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoEmpleado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ingresos" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreBenef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidosBenef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentoBenef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailBenef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DOBBenef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DireccionBenef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BarrioBenef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CiudadBenef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPBenef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono1Benef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono2Benef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaisBenef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BankCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BancoBenef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SucursalBenef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCuentaBenef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroCuentaBenef" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PuntoPagoGiro" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AditionalFields" type="tns:ArrayOfAditionalFields" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAditionalFields">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AditionalFields" nillable="true" type="tns:AditionalFields" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AditionalFields">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FieldID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadInvoiceAgn_VAutoClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadInvoiceAgn_VAutoClassResult" type="tns:DefaultResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DefaultResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnResult" type="tns:ReturnResult" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PP_DesactivarPP_Pais">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodUsuario" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="CodCorresponsal" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PP_DesactivarPP_PaisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PP_DesactivarPP_PaisResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PP_CrearConNombres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodUsuario" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="CodCorresponsal" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MasDatos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Poblado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Retorno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Delegacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HorarioLV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HorarioSab" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HorarioDom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PP_CrearConNombresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PP_CrearConNombresResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PP_PostPP_Pais">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodUsuario" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="CodCorresponsal" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PP_PostPP_PaisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PP_PostPP_PaisResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccederV1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NombreUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cookie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Terminal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccederV1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccederV1Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GlobalClassV001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodUsuario" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="functionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param6" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GlobalClassV001Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GlobalClassV001Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GlobalClassV002">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodUsuario" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="functionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param6" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GlobalClassV002Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GlobalClassV002Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GlobalClassV003">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodUsuario" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="functionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param6" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GlobalClassV003Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GlobalClassV003Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GlobalClassV004">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodUsuario" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="functionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param6" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GlobalClassV004Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GlobalClassV004Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAccountMoviment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="REQ" type="tns:AddAccountMovimentRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AddAccountMovimentRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodUsuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodCuenta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoMV" type="tns:MovimentType" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyMV" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ammount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ExchangeRate" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="MVDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InternalType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Entity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Reference" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MVParent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PreventDuplicateEntityREF" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IgnoreOverLimit" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="NonExecute" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PostComands" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MovimentType">
        <s:restriction base="s:string">
          <s:enumeration value="Debit" />
          <s:enumeration value="Credit" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAccountMovimentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddAccountMovimentResult" type="tns:GeneralResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GeneralResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnResult" type="tns:ReturnAnswer" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ReturnAnswer">
        <s:restriction base="s:string">
          <s:enumeration value="Ok" />
          <s:enumeration value="HasError" />
          <s:enumeration value="NoData" />
        </s:restriction>
      </s:simpleType>
      <s:element name="C_Tasas_Actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Q_User" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Q_Signature" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodPais" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="CodCorresponsal" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="ValorTasa" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="C_Tasas_ActualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="C_Tasas_ActualizarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Q_getDataTableFromQSoapIn">
    <wsdl:part name="parameters" element="tns:Q_getDataTableFromQ" />
  </wsdl:message>
  <wsdl:message name="Q_getDataTableFromQSoapOut">
    <wsdl:part name="parameters" element="tns:Q_getDataTableFromQResponse" />
  </wsdl:message>
  <wsdl:message name="Q_ExecFromQSoapIn">
    <wsdl:part name="parameters" element="tns:Q_ExecFromQ" />
  </wsdl:message>
  <wsdl:message name="Q_ExecFromQSoapOut">
    <wsdl:part name="parameters" element="tns:Q_ExecFromQResponse" />
  </wsdl:message>
  <wsdl:message name="Q_AgregaIncidenaciaSoapIn">
    <wsdl:part name="parameters" element="tns:Q_AgregaIncidenacia" />
  </wsdl:message>
  <wsdl:message name="Q_AgregaIncidenaciaSoapOut">
    <wsdl:part name="parameters" element="tns:Q_AgregaIncidenaciaResponse" />
  </wsdl:message>
  <wsdl:message name="Q_AgregaPagadoSoapIn">
    <wsdl:part name="parameters" element="tns:Q_AgregaPagado" />
  </wsdl:message>
  <wsdl:message name="Q_AgregaPagadoSoapOut">
    <wsdl:part name="parameters" element="tns:Q_AgregaPagadoResponse" />
  </wsdl:message>
  <wsdl:message name="Q_AgregaPagadoMiscSoapIn">
    <wsdl:part name="parameters" element="tns:Q_AgregaPagadoMisc" />
  </wsdl:message>
  <wsdl:message name="Q_AgregaPagadoMiscSoapOut">
    <wsdl:part name="parameters" element="tns:Q_AgregaPagadoMiscResponse" />
  </wsdl:message>
  <wsdl:message name="LoadInvoiceAgn_V016SoapIn">
    <wsdl:part name="parameters" element="tns:LoadInvoiceAgn_V016" />
  </wsdl:message>
  <wsdl:message name="LoadInvoiceAgn_V016SoapOut">
    <wsdl:part name="parameters" element="tns:LoadInvoiceAgn_V016Response" />
  </wsdl:message>
  <wsdl:message name="LoadInvoiceAgn_V017SoapIn">
    <wsdl:part name="parameters" element="tns:LoadInvoiceAgn_V017" />
  </wsdl:message>
  <wsdl:message name="LoadInvoiceAgn_V017SoapOut">
    <wsdl:part name="parameters" element="tns:LoadInvoiceAgn_V017Response" />
  </wsdl:message>
  <wsdl:message name="LoadInvoiceAgn_V018SoapIn">
    <wsdl:part name="parameters" element="tns:LoadInvoiceAgn_V018" />
  </wsdl:message>
  <wsdl:message name="LoadInvoiceAgn_V018SoapOut">
    <wsdl:part name="parameters" element="tns:LoadInvoiceAgn_V018Response" />
  </wsdl:message>
  <wsdl:message name="LoadInvoiceAgn_V019SoapIn">
    <wsdl:part name="parameters" element="tns:LoadInvoiceAgn_V019" />
  </wsdl:message>
  <wsdl:message name="LoadInvoiceAgn_V019SoapOut">
    <wsdl:part name="parameters" element="tns:LoadInvoiceAgn_V019Response" />
  </wsdl:message>
  <wsdl:message name="LoadInvoiceAgn_VAutoSoapIn">
    <wsdl:part name="parameters" element="tns:LoadInvoiceAgn_VAuto" />
  </wsdl:message>
  <wsdl:message name="LoadInvoiceAgn_VAutoSoapOut">
    <wsdl:part name="parameters" element="tns:LoadInvoiceAgn_VAutoResponse" />
  </wsdl:message>
  <wsdl:message name="LoadInvoiceAgn_V034SoapIn">
    <wsdl:part name="parameters" element="tns:LoadInvoiceAgn_V034" />
  </wsdl:message>
  <wsdl:message name="LoadInvoiceAgn_V034SoapOut">
    <wsdl:part name="parameters" element="tns:LoadInvoiceAgn_V034Response" />
  </wsdl:message>
  <wsdl:message name="LoadInvoiceAgn_VAutoClassSoapIn">
    <wsdl:part name="parameters" element="tns:LoadInvoiceAgn_VAutoClass" />
  </wsdl:message>
  <wsdl:message name="LoadInvoiceAgn_VAutoClassSoapOut">
    <wsdl:part name="parameters" element="tns:LoadInvoiceAgn_VAutoClassResponse" />
  </wsdl:message>
  <wsdl:message name="PP_DesactivarPP_PaisSoapIn">
    <wsdl:part name="parameters" element="tns:PP_DesactivarPP_Pais" />
  </wsdl:message>
  <wsdl:message name="PP_DesactivarPP_PaisSoapOut">
    <wsdl:part name="parameters" element="tns:PP_DesactivarPP_PaisResponse" />
  </wsdl:message>
  <wsdl:message name="PP_CrearConNombresSoapIn">
    <wsdl:part name="parameters" element="tns:PP_CrearConNombres" />
  </wsdl:message>
  <wsdl:message name="PP_CrearConNombresSoapOut">
    <wsdl:part name="parameters" element="tns:PP_CrearConNombresResponse" />
  </wsdl:message>
  <wsdl:message name="PP_PostPP_PaisSoapIn">
    <wsdl:part name="parameters" element="tns:PP_PostPP_Pais" />
  </wsdl:message>
  <wsdl:message name="PP_PostPP_PaisSoapOut">
    <wsdl:part name="parameters" element="tns:PP_PostPP_PaisResponse" />
  </wsdl:message>
  <wsdl:message name="AccederV1SoapIn">
    <wsdl:part name="parameters" element="tns:AccederV1" />
  </wsdl:message>
  <wsdl:message name="AccederV1SoapOut">
    <wsdl:part name="parameters" element="tns:AccederV1Response" />
  </wsdl:message>
  <wsdl:message name="GlobalClassV001SoapIn">
    <wsdl:part name="parameters" element="tns:GlobalClassV001" />
  </wsdl:message>
  <wsdl:message name="GlobalClassV001SoapOut">
    <wsdl:part name="parameters" element="tns:GlobalClassV001Response" />
  </wsdl:message>
  <wsdl:message name="GlobalClassV002SoapIn">
    <wsdl:part name="parameters" element="tns:GlobalClassV002" />
  </wsdl:message>
  <wsdl:message name="GlobalClassV002SoapOut">
    <wsdl:part name="parameters" element="tns:GlobalClassV002Response" />
  </wsdl:message>
  <wsdl:message name="GlobalClassV003SoapIn">
    <wsdl:part name="parameters" element="tns:GlobalClassV003" />
  </wsdl:message>
  <wsdl:message name="GlobalClassV003SoapOut">
    <wsdl:part name="parameters" element="tns:GlobalClassV003Response" />
  </wsdl:message>
  <wsdl:message name="GlobalClassV004SoapIn">
    <wsdl:part name="parameters" element="tns:GlobalClassV004" />
  </wsdl:message>
  <wsdl:message name="GlobalClassV004SoapOut">
    <wsdl:part name="parameters" element="tns:GlobalClassV004Response" />
  </wsdl:message>
  <wsdl:message name="AddAccountMovimentSoapIn">
    <wsdl:part name="parameters" element="tns:AddAccountMoviment" />
  </wsdl:message>
  <wsdl:message name="AddAccountMovimentSoapOut">
    <wsdl:part name="parameters" element="tns:AddAccountMovimentResponse" />
  </wsdl:message>
  <wsdl:message name="C_Tasas_ActualizarSoapIn">
    <wsdl:part name="parameters" element="tns:C_Tasas_Actualizar" />
  </wsdl:message>
  <wsdl:message name="C_Tasas_ActualizarSoapOut">
    <wsdl:part name="parameters" element="tns:C_Tasas_ActualizarResponse" />
  </wsdl:message>
  <wsdl:portType name="CompatibleSoap">
    <wsdl:operation name="Q_getDataTableFromQ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene un datatable</wsdl:documentation>
      <wsdl:input message="tns:Q_getDataTableFromQSoapIn" />
      <wsdl:output message="tns:Q_getDataTableFromQSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Q_ExecFromQ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene un datatable</wsdl:documentation>
      <wsdl:input message="tns:Q_ExecFromQSoapIn" />
      <wsdl:output message="tns:Q_ExecFromQSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Q_AgregaIncidenacia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agrega una anotacion a una remesa</wsdl:documentation>
      <wsdl:input message="tns:Q_AgregaIncidenaciaSoapIn" />
      <wsdl:output message="tns:Q_AgregaIncidenaciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Q_AgregaPagado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Marca una remesa como pagado</wsdl:documentation>
      <wsdl:input message="tns:Q_AgregaPagadoSoapIn" />
      <wsdl:output message="tns:Q_AgregaPagadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Q_AgregaPagadoMisc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Marca una remesa como pagado</wsdl:documentation>
      <wsdl:input message="tns:Q_AgregaPagadoMiscSoapIn" />
      <wsdl:output message="tns:Q_AgregaPagadoMiscSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V016">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Carga un giro proveniente de un agente especial</wsdl:documentation>
      <wsdl:input message="tns:LoadInvoiceAgn_V016SoapIn" />
      <wsdl:output message="tns:LoadInvoiceAgn_V016SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V017">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Carga un giro proveniente de un agente especial</wsdl:documentation>
      <wsdl:input message="tns:LoadInvoiceAgn_V017SoapIn" />
      <wsdl:output message="tns:LoadInvoiceAgn_V017SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V018">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Carga un giro proveniente de un agente especial</wsdl:documentation>
      <wsdl:input message="tns:LoadInvoiceAgn_V018SoapIn" />
      <wsdl:output message="tns:LoadInvoiceAgn_V018SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V019">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Carga un giro proveniente de un agente especial</wsdl:documentation>
      <wsdl:input message="tns:LoadInvoiceAgn_V019SoapIn" />
      <wsdl:output message="tns:LoadInvoiceAgn_V019SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_VAuto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Carga un giro proveniente de un agente especial</wsdl:documentation>
      <wsdl:input message="tns:LoadInvoiceAgn_VAutoSoapIn" />
      <wsdl:output message="tns:LoadInvoiceAgn_VAutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V034">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Carga un giro proveniente de un agente especial (En base a objetos)</wsdl:documentation>
      <wsdl:input message="tns:LoadInvoiceAgn_V034SoapIn" />
      <wsdl:output message="tns:LoadInvoiceAgn_V034SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_VAutoClass">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Carga un giro proveniente de un agente especial en base a clase</wsdl:documentation>
      <wsdl:input message="tns:LoadInvoiceAgn_VAutoClassSoapIn" />
      <wsdl:output message="tns:LoadInvoiceAgn_VAutoClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PP_DesactivarPP_Pais">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Desactiva los PP de un pais especifico</wsdl:documentation>
      <wsdl:input message="tns:PP_DesactivarPP_PaisSoapIn" />
      <wsdl:output message="tns:PP_DesactivarPP_PaisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PP_CrearConNombres">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Crear un punto de pago especificando nombres de pais y ciudad</wsdl:documentation>
      <wsdl:input message="tns:PP_CrearConNombresSoapIn" />
      <wsdl:output message="tns:PP_CrearConNombresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PP_PostPP_Pais">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Asigna cobertura a las ciudades de un pais despues de una carga masiva de puntos de pago</wsdl:documentation>
      <wsdl:input message="tns:PP_PostPP_PaisSoapIn" />
      <wsdl:output message="tns:PP_PostPP_PaisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccederV1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Usuario que accede al sistema por login y password (Solo al BO y utilidades)</wsdl:documentation>
      <wsdl:input message="tns:AccederV1SoapIn" />
      <wsdl:output message="tns:AccederV1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GlobalClassV001">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Procesa cosas que retornan un DataTable</wsdl:documentation>
      <wsdl:input message="tns:GlobalClassV001SoapIn" />
      <wsdl:output message="tns:GlobalClassV001SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GlobalClassV002">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Procesa cosas que retornan un DataSet</wsdl:documentation>
      <wsdl:input message="tns:GlobalClassV002SoapIn" />
      <wsdl:output message="tns:GlobalClassV002SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GlobalClassV003">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Procesa cosas que retornan un string</wsdl:documentation>
      <wsdl:input message="tns:GlobalClassV003SoapIn" />
      <wsdl:output message="tns:GlobalClassV003SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GlobalClassV004">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Procesa cosas que retornan un Booleano</wsdl:documentation>
      <wsdl:input message="tns:GlobalClassV004SoapIn" />
      <wsdl:output message="tns:GlobalClassV004SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAccountMoviment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agrega un movimiento a una cuenta corriente</wsdl:documentation>
      <wsdl:input message="tns:AddAccountMovimentSoapIn" />
      <wsdl:output message="tns:AddAccountMovimentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="C_Tasas_Actualizar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza la tasa de un Corresponsal/Pais</wsdl:documentation>
      <wsdl:input message="tns:C_Tasas_ActualizarSoapIn" />
      <wsdl:output message="tns:C_Tasas_ActualizarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CompatibleSoap" type="tns:CompatibleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Q_getDataTableFromQ">
      <soap:operation soapAction="http://sysvega.com/Q_getDataTableFromQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Q_ExecFromQ">
      <soap:operation soapAction="http://sysvega.com/Q_ExecFromQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Q_AgregaIncidenacia">
      <soap:operation soapAction="http://sysvega.com/Q_AgregaIncidenacia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Q_AgregaPagado">
      <soap:operation soapAction="http://sysvega.com/Q_AgregaPagado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Q_AgregaPagadoMisc">
      <soap:operation soapAction="http://sysvega.com/Q_AgregaPagadoMisc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V016">
      <soap:operation soapAction="http://sysvega.com/LoadInvoiceAgn_V016" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V017">
      <soap:operation soapAction="http://sysvega.com/LoadInvoiceAgn_V017" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V018">
      <soap:operation soapAction="http://sysvega.com/LoadInvoiceAgn_V018" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V019">
      <soap:operation soapAction="http://sysvega.com/LoadInvoiceAgn_V019" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_VAuto">
      <soap:operation soapAction="http://sysvega.com/LoadInvoiceAgn_VAuto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V034">
      <soap:operation soapAction="http://sysvega.com/LoadInvoiceAgn_V034" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_VAutoClass">
      <soap:operation soapAction="http://sysvega.com/LoadInvoiceAgn_VAutoClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PP_DesactivarPP_Pais">
      <soap:operation soapAction="http://sysvega.com/PP_DesactivarPP_Pais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PP_CrearConNombres">
      <soap:operation soapAction="http://sysvega.com/PP_CrearConNombres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PP_PostPP_Pais">
      <soap:operation soapAction="http://sysvega.com/PP_PostPP_Pais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccederV1">
      <soap:operation soapAction="http://sysvega.com/AccederV1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalClassV001">
      <soap:operation soapAction="http://sysvega.com/GlobalClassV001" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalClassV002">
      <soap:operation soapAction="http://sysvega.com/GlobalClassV002" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalClassV003">
      <soap:operation soapAction="http://sysvega.com/GlobalClassV003" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalClassV004">
      <soap:operation soapAction="http://sysvega.com/GlobalClassV004" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccountMoviment">
      <soap:operation soapAction="http://sysvega.com/AddAccountMoviment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="C_Tasas_Actualizar">
      <soap:operation soapAction="http://sysvega.com/C_Tasas_Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CompatibleSoap12" type="tns:CompatibleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Q_getDataTableFromQ">
      <soap12:operation soapAction="http://sysvega.com/Q_getDataTableFromQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Q_ExecFromQ">
      <soap12:operation soapAction="http://sysvega.com/Q_ExecFromQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Q_AgregaIncidenacia">
      <soap12:operation soapAction="http://sysvega.com/Q_AgregaIncidenacia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Q_AgregaPagado">
      <soap12:operation soapAction="http://sysvega.com/Q_AgregaPagado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Q_AgregaPagadoMisc">
      <soap12:operation soapAction="http://sysvega.com/Q_AgregaPagadoMisc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V016">
      <soap12:operation soapAction="http://sysvega.com/LoadInvoiceAgn_V016" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V017">
      <soap12:operation soapAction="http://sysvega.com/LoadInvoiceAgn_V017" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V018">
      <soap12:operation soapAction="http://sysvega.com/LoadInvoiceAgn_V018" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V019">
      <soap12:operation soapAction="http://sysvega.com/LoadInvoiceAgn_V019" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_VAuto">
      <soap12:operation soapAction="http://sysvega.com/LoadInvoiceAgn_VAuto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_V034">
      <soap12:operation soapAction="http://sysvega.com/LoadInvoiceAgn_V034" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInvoiceAgn_VAutoClass">
      <soap12:operation soapAction="http://sysvega.com/LoadInvoiceAgn_VAutoClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PP_DesactivarPP_Pais">
      <soap12:operation soapAction="http://sysvega.com/PP_DesactivarPP_Pais" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PP_CrearConNombres">
      <soap12:operation soapAction="http://sysvega.com/PP_CrearConNombres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PP_PostPP_Pais">
      <soap12:operation soapAction="http://sysvega.com/PP_PostPP_Pais" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccederV1">
      <soap12:operation soapAction="http://sysvega.com/AccederV1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalClassV001">
      <soap12:operation soapAction="http://sysvega.com/GlobalClassV001" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalClassV002">
      <soap12:operation soapAction="http://sysvega.com/GlobalClassV002" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalClassV003">
      <soap12:operation soapAction="http://sysvega.com/GlobalClassV003" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalClassV004">
      <soap12:operation soapAction="http://sysvega.com/GlobalClassV004" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccountMoviment">
      <soap12:operation soapAction="http://sysvega.com/AddAccountMoviment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="C_Tasas_Actualizar">
      <soap12:operation soapAction="http://sysvega.com/C_Tasas_Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Compatible">
    <wsdl:port name="CompatibleSoap" binding="tns:CompatibleSoap">
      <soap:address location="http://192.168.34.55:8008/Compatible.asmx" />
    </wsdl:port>
    <wsdl:port name="CompatibleSoap12" binding="tns:CompatibleSoap12">
      <soap12:address location="http://192.168.34.55:8008/Compatible.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>